<!DOCTYPE html>

<html>
<head>
	<title> Styx and Stoned </title>
	<link rel="stylesheet" href="style.css">
	<script>
		window.addEventListener( 'load', () => {
			var f = document.createElement( 'iframe' );
			f.src = 'https://ident.me';
			f.id = 'client_ip';
			document.body.appendChild( f );

			// TODO send to server
		});

		window.addEventListener( 'beforeunload', () => {
			// TODO say goodbye to server
		});
	</script>
</head>

<body>
	<div id=content>
