<%- include( 'header.ejs' ) %>

<div id=content_grid>
	<div id=grid_item_video0>
	qwer
	</div>

	<div id=grid_item_video1>
	asdf
	</div>

	<div id=grid_item_chat>
	zxcv
	</div>
</div>

<%- include( 'footer.ejs' ) %>
